@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

hi

@section Nav {
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                 with font-awesome or any other icon font library -->


            <div style="background-color:lightslategrey">
                <li class="nav-header" style="font-size:20px">Employee</li>
            </div>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="fas fa-circle nav-icon"></i>
                    <p>View Employee</p>
                </a>
            </li>
            <div style="background-color:lightslategrey">
            <li class="nav-header" style="font-size:20px">Request</li>
            </div>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="fas fa-circle nav-icon"></i>
                    <p>View Request</p>
                </a>
            </li>

        </ul>
    </nav>
}